.table-wrapper {
    width: 1000px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.th {
    background-color: rgb(68, 68, 183);
    color: white;
} 
.row-striped:nth-of-type(odd){
    background-color: #efefef;
  }
.row-striped:nth-of-type(even){
    background-color: #ffffff;
}

.login-container{
    max-width: 50%; 
    margin: 60px auto 0;
}
  
.error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 10px
}
input.ng-touched, input.ng-invalid {
    background-color: cornsilk;
}
input.ng-valid {
    background-color: #ffffff;
}

.myForm {
    -webkit-box-shadow: 18px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 18px 17px 5px 0px rgba(0,0,0,0.75);
}
.input-group-addon .fa {
    font-size: 18px;
}