<div ng-controller = 'myctrl' class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>{{ homePage }}</h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"
                     ng-click="addEmployee()"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>#</th>
            <th>Age</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr ng-repeat = "employee in employees">
                <th>{{ employee.id }}</th>
                <th>{{ employee.age }}</th>
                <th>{{ employee.firstName }}</th>
                <th>{{ employee.lastName }}</th>
                <th>{{ employee.address }}</th>
                <th>{{ employee.email }}</th>
                <th><a ng-href='/update/{{employee.id}}'><span class="bi bi-pencil"></span></a></th>
                <th><a ng-href='/delete/{{employee.id}}'><i class="bi bi-trash"></i></a></th>
            </tr>
        </tbody>
    </table>
</div>