<div ng-controller = 'updateCtrl' class="container">
    <h1>{{ updatePage }}</h1>
    <form>
        <div class="row">
            Age: <input type="text" ng-model = "employee.age">
            First Name: <input type="text" ng-model = "employee.firstName">
            Last Name: <input type="text" ng-model = "employee.lastName">
            Address: <input type="text" ng-model = "employee.address">
            Email: <input type="email" ng-model = "employee.email">
        </div>
        <button ng-click="updateEmployee()">Submit</button>
    </form>
</div>